<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>个人中心</title>
<link rel="stylesheet" href="__myspacecss__" />
<link rel="stylesheet" href="__frontcss__/page.css" type="text/css" media="screen" />
<link rel="stylesheet" href='__hoverbox__' type="text/css" media="screen, projection" />
<style>

</style>
</head>
<body>
<div id="ps_top" style="background: {$color|default='lavender'}">
  <h1>my space</h1>
  <h4>【<a href="/myspace.html">个人中心</a>】</h4>
  <p id="cut1"></p>
  <p id="p_l"><a href="/index.html">首页</a></p>
	<p id="p_r">{$time|date='Y-m-d',###}</p>
	<p id="hidden"></p>
</div>
<div id="ps_main">
    <div id="ps_left" style="width:26%;">
        <table id="tab1" align="center" width="90%" border="0" cellpadding="5" cellspacing="10">
          <tr>
            <td style="text-align: center;">
                  <img style="border-radius: 50%;" width="120px" src="{$userinfo.photo}" alt="" />
            </td>
          </tr>

          <tr>
              <td align="center"><font color="#FF0000">{$userinfo.username}</font></td> 

          </tr>

          <tr>
              <th align="left">邮箱:</th>    
          </tr>

          <tr>
              <td align="left">{$userinfo.email}</td>
          </tr>

          <tr>
             <th align="left">Q&nbsp;Q:</th>    
          </tr>

          <tr>
             <td align="left">{$userinfo.qq}</td>
          </tr>

          <tr>
             <th align="left">电话:</th>    
          </tr>

          <tr>
             <td align="left">{$userinfo.tel}</td>
          </tr>

          <tr>
             <th align="left">地址:</th>    
          </tr>

          <tr>
             <td align="left">{$userinfo.address}</td>
          </tr>

          <tr>
              <th align="left">标签:</th>    
          </tr>

          <tr>
              <td align="left">{$userinfo.usermark}</td>
          </tr>

          <tr>
              <th align="left">兴趣:</th>    
          </tr>  

          <tr>
              <td align="left">{$userinfo.inter}</td>
          </tr>
        </table>
        <table id='tab2' width="90%" cellspacing="10px" cellpadding="5px" border="0" align='center'>
          <tr>
            <th align="right" id="th_fx">分享：</th>
            <td><a href="/pubpro.html">发布</a></td>
          </tr>
          <tr align="left">
            <td></td>
            <td><a href="/mymodify/id/{$userinfo.id}.html">修改</a></td>
          </tr>
        </table>

    </div>
    <div id="ps_right" style="width:72%;">
        <h2 style="text-align: center;font-size: 25px;width:100%;margin-bottom:15px;">获取物品</h2>
        <table id='tab3' width="100%" align='left' cellspacing="10" cellpadding="10" border='0'>  
          <tr>
            <td colspan="8">共{$total}件</td>
          </tr>
          <tr>
            <th width="11%">图片</th>
            <th width="11%">名称</th>
            <th width="11%">类别</th>
            <th width="11%">数量</th>
            <th width="11%">发布人</th>
            <th width="11%">描述</th>
            <th width="11%">发布时间</th>           
            <th width="11%">预订时间</th>   
            <th width="11%">接收状态</th>          
          </tr>
{volist name='list' id='val' empty='暂无产品'}
          <tr>
            <td align="center">
                <ul class="hoverbox">
                  <li>
                  <a href="#"><img height="40px" src="__img__/pro/{$val.orderlist.pro_pic}" alt="description"><img src="__img__/pro/{$val.orderlist.pro_pic}" alt="" class="preview"></a>
                  </li>
                </ul>
            </td>
            <td align="center">{$val.orderlist.pro_name}</td>
            <td align="center">{$val.orderlist.pro_type}</td>
            <td align="center">{$val.orderlist.number}</td>
            <td align="center">{$val.orderlist.username}</td>
            <td align='justify' align="center">{$val.orderlist.pro_about}</td>
            <td align="center">{$val.orderlist.pubtime}</td>
            <td align="center">{$val.ordertime}</td>
            {if condition="$val.getstate==1"}
                 <td align="center"><a style="javascript:void(0);background:red;color:white;border-radius: 10px;padding:5px 20px;">已收到</a></td>
            {else}
                 <td align="center"><a href="/getprostate/id/{$val.pro_id}" style="background:green;color:white;border-radius: 10px;padding:5px 20px;">未收到</a></td>
            {/if}
          </tr>          
{/volist}
           <tr>
            <td colspan="8">
                {$list->render()}

            </td>
          </tr>
        </table>
        <p style="width: 100%;height: 40px;clear:both;"></p>
        <p id='getpro'><a href="/myspace.html">捐献物品清单</a><span style='padding-left:80px;'></span></p>

    </div>
</div>

{include file="./template/myspace/bottom.html" /}	


</body>
</html>
