@charset="UTF-8";
/*通用*/
*{margin:0;padding:0;}
a,img{border:0;}
a{text-decoration:none;}
li{list-style-type:none;}




/*  头部  */

#div_head{width:100%;
          height:160px;  
		  }
#div_top{width:100%;
         height:50px;
		 background:url(/public/static/images/top1.jpg);
		 background-repeat:repeat-x;

         }
#p_l{width:50%;
	 height:50px;
	 text-align:left;
     font-family:"微软雅黑";
     color:rgb(150,150,150);
	 font-size:16px;
	 line-height:50px;
	 float:left;
     margin-top:0px;
      }
#p_l a{
	color:rgb(150,150,150);
}
#p_l a:hover{
	color:red;
}
#p_r{width:45%;
	 height:50px;
	 text-align:right;
     font-family:"微软雅黑";
	 font-size:14px;
	 line-height:50px;
	 float:left;
     margin-top:0px;
	 }

/*  logo  */
div#div_logo{
	    clear:both;
	    width:1000px;
        height:60px;
		margin:10px auto;
		background:#993;
		border-radius:5px;

		}
#p_logo
{
	float:left;
	
}
#p_gg
{
    float:left;
    width: 80%;
    height: 60px;
    line-height: 60px;
    font-size:40px;
    font-family: 黑体;
    text-align:center;
    color:white;
/*    text-shadow: 2px 2px 2px yellow;*/
    animation: myfirst 10s linear 2s infinite normal;
    -webkit-animation:myfirst 10s linear 2s infinite normal;

}	

@keyframes myfirst
{
     0%{font-size: 40px}
     10%{font-size: 40px}
     20%{font-size: 30px}
     30%{font-size: 20px}
     40%{font-size: 10px}
     50%{font-size: 5px}
     60%{font-size: 10px}
     70%{font-size: 20px}
     80%{font-size: 30px}
     90%{font-size: 40px}
     100%{font-size: 40px}
}
@-webkit-keyframes myfirst
{
     0%{font-size: 0px;color:black;}
     25%{font-size: 10px;color:rgb(100,100,100);}
     50%{font-size: 20px;color:rgb(150,150,150);}
     70%{font-size: 30px;color:rgb(200,200,200);}
     90%{font-size: 40px;color:white;}
     100%{font-size: 40px;color:white;}
}


/*  城市站点导航  */
#p_city{width:1000px;
		height:25px;
		background:url(/public/static/images/ys3.jpg);
		background-repeat:repeat-x;
		margin:5px auto;
		font:14px "微软雅黑";
		color:#FFF;
		line-height:25px;
		border-radius: 5px;	
	    }
#p_city a{color:#FFF;}

/*  导航  */
#div_nav{width: 100%;
	     height: 60px;
	     background-image: url(/public/static/images/ys.jpg);
	     background-repeat: repeat;
         }
#ul_nav{width:1000px;
        height:60px;
		margin:3px auto;
	    }

#ul_nav li{float:left;
           width:14%;
		   font:20px "微软雅黑";
           font-weight: 700;
		   height:60px;
		   text-align:center;
		   color:#FFF;
		   line-height:60px;
		   margin:0px;
		   padding:0px;
          }

.li_nav a{color:#FFF;}
.li_nav a:list,.li_nav a:visited{color:#FFF;}
.li_nav a:hover{display:inline-block;
	            width:90%;
                height:60px;
				background-image: url(/public/static/images/ys1.jpg);
                background-repeat: repeat;
				color:#FFF;
				}
span.space_pad{padding:0px 8px;}

/*  新闻  */



/*  搜索框  */
#div_search{width:1000px;
            height:45px;
			margin:15px auto;
			background:#333;   
			border-radius: 5px;
	        }

#p_sc{float:left;
	  width:495px;
      height:45px;
	  font:20px "微软雅黑";
	  color:#FFF;
	  line-height:46px;
	  margin:0px 0px 0px 5px;

      }
#p_sc a{color:#FFF;}
#p_sc a:hover{color:red;}

#span_news{color:#F00;}
#span_news a{color:#F00;}
#span_news a:link,#span_news a:visited{color:#F00;}
#span_news a:hover{color:#FFF;}

#form1{width:500px;
       float:left;
	   text-align:right;
	   }
input[type="text"]{width:400px;
                   height:42px;
				   font:20px "微软雅黑";
				   line-height:42px;
				   padding-left: 8px;
				   border: 1px solid black;
                 }
input[type="submit"]{width:80px;
                    height:40px;
				    font:20px "微软雅黑";
				    border-radius:5px;
			      }
input[type="submit"]:hover{
	         background: rgb(204,102,0);
			 color:white;
	         cursor: pointer;
	         animatiom:2s;
}

/*分享达人故事*/

#div_story{
	      margin: 15px auto;
	      width:1000px;
		  height:500px;
	      }
#div_story table{
	    width:320px;
		height:450px;
	    float:left;
	    margin-right:13px;
		border-radius:15px;
		background: #cc9933;
		/*左右渐变*/
		/*background: -webkit-linear-gradient(left, white ,#cc9933 ); 
        background: -o-linear-gradient(right, white, #cc9933);
        background: -moz-linear-gradient(right, white, #cc9933);
        background: linear-gradient(to right, white ,green); */
        /*对角渐变*/
       /* background: -webkit-linear-gradient(left top, red , blue); 
	    background: -o-linear-gradient(bottom right, red, blue);
	    background: -moz-linear-gradient(bottom right, red, blue);
	    background: linear-gradient(to bottom right, red , blue); */
}

#p_fxlb{width:980px; 
       height:40px;
	   border:1px solid #F60;  
	   border-top:none;
	   border-left:none;
	   border-right:none;
	   margin:5px 0px;
	   font:18px "微软雅黑";
	   line-height:40px;
}
/*
.p_story{width:320px;
         height:420px;
		 background:rgb(255,204,51);		 
		 float:left;
		 margin-left:10px;
         }
*/
#span_lbmc{display:block;
           width:120px;
		   height:40px;
		   background:#F60;
		   text-align:center;
		   color:#FFF;
		   float:left;
		   letter-spacing: 5px;
		   text-indent: 5px;
		   border-top-left-radius:10px;
		   -webkit-border-top-left-radius:10px;
           }
		   


/*  流程  */
div#div_flow
{
	clear:both;
    width:992px;
	height:128px;
	margin:20px auto;
	background:lavender;
	font-size: 0;
	border-radius: 5px;

}
div#div_flow img
{
	width:190px;
	padding:10px 0px 5px 7px;

}
div#div_flow a:hover
{
	opacity:0.7;
}


/*各类分享物图片*/
#div_pro_all{
	     clear:both;
		 width:1000px;
		 height:auto;
		 margin:10px auto;
		
	     }
.p_lb{width:980px; 
      height:40px;
	  border:1px solid #F60;
	  border-top:none;
	  border-left:none;
	  border-right:none;
	  margin:5px 0px;
	  font:18px "微软雅黑";
	  line-height:40px;
	  }  
.span_lbmc{display:block;
           width:80px;
		   height:40px;
		   background:#F60;
		   text-align:center;
		   color:#FFF;
		   float:left;
		   letter-spacing: 5px;
		   text-indent: 5px;
		   border-top-left-radius:10px;
		   -webkit-border-top-left-radius:10px;

           }
.span_gengduo{display:block;
           width:60px;
		   height:40px;
		   text-align:center;
		   float:right;
           }
.span_gengduo a:link,.span_gengduo a:visited{color:#000;}
.span_gengduo a:hover{color:#F00;}

.ul_lb{width:1000px;
       height:320px;
       margin:10px 0px;
	   font:16px "微软雅黑";
	}
.li_pro{width:323px;       
       height:100%;
	   margin-right:5px;
	   padding:0px;
	   background:#ffffcc;
	   list-style-type: none;	  
	   display:inline-block;
	   border-radius:15px;
	   -webkit-border-radius:15px;
	
	   }
.pro_img{width:98%;
         height:250px;
		 display:block;
		 margin:0px auto;
		 border-radius:15px;
		 -webkit-border-radius:15px;
	    }
.p_name{width:75%;
  		float:left;
  		text-align:left;	 
  		margin:0px;
  		padding:3px 0px 3px 8px;
  		font:16px "微软雅黑";
  		color:#F60;
		overflow: hidden;            
        text-overflow:ellipsis;          
        white-space: nowrap;
	   }
.p_con{ width:20%;
  		float:right;
  		text-align:right;	 
  		margin:0px;
  		padding:3px 8px 3px 0px;
  		font:16px "微软雅黑";
  		color:#069;
	   }
.p_degree{width:70%;
  		float:left;
  		text-align:left;	 
  		margin:0px;
  		padding:3px 0px 3px 8px;
  		font:16px "微软雅黑";
	   }
.p_number{width:25%;
  		float:right;
  		text-align:right;	 
  		margin:0px;
  		padding:3px 8px 3px 0px;
  		font:16px "微软雅黑";
	   }

/*  尾部信息  */
#div_bot{clear:both;
	     width:100%;
         height:280px;
		 background:#666;
		 margin-top:15px;
	     font-size:16px;
	     font-family: "微软雅黑";
	    }
#div_bot a{color:black;}
#div_bot a:hover{color:red;}
#div_bot a:visited{color:black;}
#ulink{
	   padding:15px;
	     }
#div_bot p{text-align:center;
           margin-top:10px;
	       }


#ulink{
	   padding:10px 0px 10px 60px;
	   }
#ulink li{margin:5px;}
.ulj a:hover{color:red;}
#div_bot p,h4{text-align:center;
              margin-top:10px;
	         }
span#span_hits{
	display: inline-block;
	float:right;
}
span#span_hits font{
	border:1px solid white;
	padding:2px 5px;
	border-right:none;
	font-family: 宋体;
}
