@charset="UTF-8";
.pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}  
.pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}  
.pagination .active{background-color: #cc6600;color: #fff;}  
.pagination .disabled{color:#aaa;} 