<!DOCTYPE html> 
 <html lang="en"> 
 <head> 
 <meta charset="UTF-8"> 
 <title>用户注册</title> 
 <script type="text/javascript" src="__js__/checkform.js"> </script> 
 <script src="/public/static/js/jquery/jquery3.0.js"></script>
 <style type="text/css"> 
 {literal}
body
{
  /*background-image: url(__img__/fm.jpg);
  background-clip: content-box; */
} 
a
{
  text-decoration: none;
  color:black;
}
a:hover
{
  color:red;
}
div#div_main{
	width:650px;
	margin:50px auto;
	border:1px solid rgba(220,220,220,0.4);
    border-radius:15px;
    background: white;
    box-shadow: 3px 3px 5px rgba(220,220,220,0.8);    
    opacity:0.9;
	}
table{
   width:600px;
   margin:5px auto;

}

.input1
{
  width: 300px;
  height: 30px;
  font-size: 18px;
  padding-left:6px;
}
.input2
{
  padding:2px 15px;
  border-radius: 5px;
  font-size:18px;
  font-family: "黑体";

}
.input2:hover
{
   background: red;
}
 .td_first
 {color:black;
  font-family: "黑体";
  width: 100px;
  font-size: 17px;

 }
 textarea
 {
  font-size: 17px;
  width:300px;
  padding-top:6px;
  padding-left:6px;
  overflow:hidden;
 }

 div.result{
  font:16px 'Microsoft Yahei';
 }
input[type=checkbox]{
   zoom:150%;
   vertical-align: middle;
   margin:0px 6px 0px 4px;
}

 {/literal}
 </style> 
 </head> 
 <body> 
{include file='common/top'}
<div id="div_main">
<script>
//打网页获得焦点
$(document).ready(function(){
    $('#username').focus();
});

$(document).ready(function(){   
    checkConfirm();   
});   
//验证用户名是否存在   
function checkConfirm(){   
    
  	// $("#username").blur(function(){  
  	//       var gradename  = $(this).val();
   //          if(gradename==''){ 
  	// 		   $("#username").focus();
  	// 		   alert("不能为空！");			   
  		  
   //          }
  	// });
    $("#username").change(function(){    
          var gradename  = $(this).val();	
          var changeUrl = "/checkname/gradename/"+gradename;      
          $.get(changeUrl,function(str){   
              if(str == '1'){   
                  alert("您输入的用户名存在！请重新输入！");
                  $("#username").val('');
			            $("#username").focus();
              }else{
		          
		          }
          })   
      return false;   
    })   
}   


</script>
<form name="form" action="/savereg" method="post" onsubmit="return checkForm()"> 
 <table width="700px" cellpadding="0" border="0" cellspacing="10" align="center" > 
 <tr style="text-align:left;"> 
     <th colspan="3">&nbsp;&nbsp;如你已经是本站的用户，请点击<a href="/index.html">这里</a>登陆</th> 
 </tr> 
 <tr> 
     <th colspan="3"><h1>会员注册</h1></th> 
 </tr> 
 <tr> 
    <td class="td_first" align="right" >用户名：</td> 
    <td><input class="input1" type="text" name="username" id="username" onkeydown="switchKey(form.userpwd)" onfocus="focus_username()" onblur="blur_username()" ></td> 
    <td><div class="result" id="result_username"></div></td> 
 </tr> 
 <tr> 
    <td class="td_first" align="right">密码：</td> 
    <td><input class="input1" type="password" name="userpwd" onkeydown="switchKey(form.userpwd1)" id="userpwd" onfocus="focus_userpwd()" onblur="blur_userpwd()" /></td> 
    <td><div class="result" id="result_userpwd"></div></td> 
 </tr> 
 <tr> 
    <td class="td_first" align="right">确认密码：</td> 
    <td><input class="input1" type="password" name="userpwd1" onkeydown="switchKey(form.truename)" id="userpwd1" onfocus="focus_userpwd1()" onblur="blur_userpwd1()"/></td> 
    <td><div class="result" id="result_userpwd1"></div></td> 
</tr> 
<tr> 
    <td class="td_first" align="right" >性别：</td> 
    <td class="td_first" align="left" colspan="2">
    男<input type="radio" checked name="sex" value="男" />
    女<input type="radio" name="sex" value="女" />
    </td> 
</tr> 
<tr> 
    <td class="td_first" align="right">电子邮箱：</td> 
    <td><input class="input1" type="text" name="email" onkeydown="switchKey(form.Mobile)" id="email" onfocus="focus_email()" onblur="blur_email()"/></td> 
    <td><div class="result" id="result_email"></div></td> 
 </tr> 
 <tr> 
    <td class="td_first" align="right">手机号码：</td> 
    <td><input class="input1" type="text" name="Mobile" onkeydown="switchKey(form.qq)" id="Mobile" onfocus="focus_Mobile()" onblur="blur_Mobile()"/></td> 
    <td><div class="result" id="result_Mobile"></div></td> 
 </tr> 
 <tr> 
    <td class="td_first" align="right">QQ号码：</td> 
    <td><input class="input1" type="text" name="qq" id="qq" onkeydown="switchKey(form.address)" onfocus="focus_qq()" onblur="blur_qq()"/></td> 
    <td><div class="result" id="result_qq"></div></td> 
 </tr> 
 <tr>
    <td class="td_first" align="right">头像：</td> 
    <td colspan="2" align="left">
       <select name="photo" onchange="form.user_face.src=this.value">
       {for start='0' end='11' step='1'}
           <option value="__img__/face/{$i}.gif">{$i}.gif</option>
       {/for}
       </select> &nbsp;<img id=user_face src="__img__/face/0.gif" width="60" height="60"></td>
</tr>
<tr>
    <td class="td_first" align="right">地址：</td> 
    <td><input class="input1" type="text" name="address" onkeydown="switchKey(form.usermark)" id="address" onfocus="focus_address()" onblur="blur_address()"/></td> 
    <td><div class="result" id="result_address"></div></td> 
</tr>
<tr>
    <td class="td_first" align="right" valign="top">标签：</td>
    <td>
    <textarea name="usermark" onkeydown="switchKey(form.username)" id="usermark" cols="40" rows="10" onfocus="focus_usermark()" onblur="blur_usermark()"></textarea>
    <p style="font:16px 'Microsoft Yahei';">(能代表你个性的一句话)</p>
    </td>
    <td valign="top"><div class="result" style="margin-top:0px;" id="result_usermark"></div></td> 
</tr>
<tr>
    <td class="td_first" align="right" valign="top">兴趣：</td>
    <td colspan="2" valign="top" style="font:16px 'Microsoft Yahei';">

    运动<input type="checkbox" name="inter[]" value="运动" /> 
    旅游<input type="checkbox" name="inter[]" value="旅游" />
    看书<input type="checkbox" name="inter[]" value="看书" />
    唱歌<input type="checkbox" name="inter[]" value="唱歌" />
    上网<input type="checkbox" name="inter[]" value="上网" />
    音乐<input type="checkbox" name="inter[]" value="音乐" />
    摄影<input type="checkbox" name="inter[]" value="摄影" />
    电影<input type="checkbox" name="inter[]" value="电影" />
    交友<input type="checkbox" name="inter[]" value="交友" />
    美食<input type="checkbox" name="inter[]" value="美食" />
    </td>
</tr>
<tr> 
    <td align="center" colspan="3">
    <input id="tjbut" class="input2" type="submit" value="提交" /> 
    <input class="input2" type="reset" value="重置" /></td> 
 </tr> 
 </table> 
 </form>  
{literal}
<script>
function switchKey(obj){
     if(event.keyCode==40){
             obj.focus();
     }

}

$("body").keydown(function() {
    if (event.keyCode == "13") {//keyCode=13是回车键
        $('#tjbut').click().css('background-color','red').css('color','white').text('提交...');
    }
});  


</script>
{/literal}
 </div>
{include file='common/bottom'}
 </body> 
 </html>
